/* index.html css style sheet */

#heading {
    text-align: center;
    width: 100%;
}

.page-heading {

    display: inline-block;
    background-color: lightgray;
    font-size: 24px;
    font-family: "Monaco", sans-serif;
   
}

.list{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: "Monaco", sans-serif;
}